{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'PaymentForm.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/bootstrap.min.css.map' %}">
    <script src="{% static 'JS/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'JS/bootstrap.bundle.min.js.map' %}"></script>
    <style>
        body{
          background-image: url("{% static '5040007.jpg' %}");
        }
      </style>
    <title>SpeCSEr2K23</title>
</head>
<body>
    <div>
        <div class="section"><!-- This is Remaining Body After Navbar -->
            <div class="PaymentForm" style="margin-bottom:100px;">
                <div class="TableBorder table-responsive-lg">
                    <!-- <h1 class="display-6 text-white">{{request.user.first_name}}&nbsp;{{request.user.last_name}}</h1>
                    <p class="lead text-white"><span style="margin-right: 10px;">{{request.user.year_of_study}}</span></p>
                    <p class="lead text-white">{{request.user.college}}</p> -->
                    <!-- <form action="register" method="post">
                        {% csrf_token %} -->
                    
                    <form class="row g-3">
                        {% csrf_token %}
                        <div class="alert alert-primary" role="alert">
                          These details are presented in your certificate!!
                        </div>
                        
                        <div class="col-md-6">
                          <label for="FisrtName" class="form-label text-white">First Name</label>
                          <input type="text" class="form-control bg-dark text-white" id="FirstName"  value="{{request.user.first_name}}" name="first_name">
                        </div>
                        <div class="col-md-6">
                          <label for="LastName" class="form-label text-white">Last Name</label>
                          <input type="text" class="form-control bg-dark text-white" id="LastName"  value = "{{request.user.last_name}}" name="last_name">
                        </div>
                        <div class="col-12">
                          <label for="EmailID" class="form-label text-white">Email ID</label>
                          <input type="email" class="form-control bg-dark text-white" readonly="true" id="EmailID" value="{{request.user.email}}" name ="email">
                        </div>
                        <div class="col-12">
                          <label for="PhoneNumber" class="form-label text-white">Phone Number</label>
                          <input type="tel" class="form-control bg-dark text-white" id="PhoneNumber" placeholder="Enter Your Phone Number" name="phone" max_length="10" min_length="10" required>
                        </div>
                        <div class="col-12">
                          <label for="inputState" class="form-label text-white">Year Of Study</label>
                          <select id="inputState" class="form-select bg-dark text-white"  name="year_of_study">
                            
                            <option class="text-white">I</option>
                            <option class="text-white">II</option>
                            <option class="text-white">III</option>
                            <option class="text-white">IV</option>
                            <option class="text-white">NA</option>
                          </select>
                        </div>
                        <div class="col-12">
                          <label for="CollegeName" class="form-label text-white">College Name</label>
                          <input type="text" class="form-control bg-dark text-white" id="CollegeName"  name="college">
                        </div>
                        <label for="event" class="form-label text-white">Event</label>
                        <input type="text" name="event" value="{{event.event_name}}" id="event" class="form-select bg-dark text-white"  >

                        <label for="amount" class="form-label text-white">Amount</label>
                        <input type="number" name="amount" value="{{event.event_fee}}" readonly="true" id="amount" class="form-select bg-dark text-white"  >
                        <label for="reg_fee" class="form-label text-white">Registration Fee</label>
                        <input type="number" name="reg_fee" value="{{reg_fee}}" readonly="true" id="reg_fee" class="form-select bg-dark text-white"  >
                        <label for="total_amount" class="form-label text-white">Total Amount</label>
                        <input type="number" name="totat_amount" value="{{amount}}" id="total_amount" readonly="true" class="form-select bg-dark text-white"  >
                       <center> <img src="{% static 'WhatsApp Image 2023-03-21 at 15.45.16.jpeg' %}" alt="qr scanner" style="height: 200px; width: 200px;"></center>
                       <div class="alert alert-primary" role="alert">
                        Transaction ID should be entered for confirmation!!
                      </div> 
                       <label for="transaction_id" class="form-label text-white">Transaction ID</label>
                        <input type="text" name="transaction_id"  id="transaction_id" class="form-select bg-dark text-white" required>
                        
                        <div class="Register d-grid gap-2 d-md-flex justify-content-md-end">
                            <input type="submit" id="reg" class="btn btn-outline-light me-md-2" style="width: 200px;" >
                        </div>
                   <!-- <div class="card bg-dark" style="padding : 4%;display:none">
                    <center><h3 class="text-white display-6">Registration Is Succesful</h3>
                    <button class="btn btn-outline-light text-white"><a href="{% url 'home' %}">Ok</a></button></center>
                </div> -->
                    </div>
                  </form>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        let form= document.querySelector("form");
        form.addEventListener("submit",(event)=>{
            event.preventDefault();
            document.querySelector('#reg').value='Registering...'
            document.querySelector('#reg').disabled='true'
            let data = new FormData(form)
            fetch('https://script.google.com/macros/s/AKfycbzor81EqYEKQMlcbB8Sy13WUc4JbXJ2ybdSqYQGEnDJsEVPrKtbHcSJDtN2iWLyp0VHOg/exec',{
                method:"post",
                body : data
            })
            .then(res => res.text())
            .then(data => {
                document.querySelector('#reg').value = "Register"
                window.alert('Registeration is Success\nConfirmation mail will be sent to you shortly!!..')
                window.location="{% url 'home' %}"
            })
        })
    </script>
</body>

</html>